.error{color: red!important;font-size: 14px;}
.fieldHd1{ display: block;color: #1d212a;font-size: 15px;padding-bottom: 5px;text-align: center;}
ul.tagit li.tagit-choice .tagit-label:not(a) {color: #555;font-size: 14px;}
.sucessmsg {background: #dff0d8;font-size: 19px;color: #3c763d;}
.errormsg {background: #a94442;font-size: 19px;color: #fff;}
.warningmsg {background-color: #f2dede;font-size: 19px;color: #a94442; border-radius: 6px 6px 0 0;}

.testeqHeight{text-align: center;}

.middleTxt1 {font-size:22px; color:#fff; font-weight:300;}
/*.selectedRating {margin: 0 !important;}
.selectedRating li {width:12px !important; padding:0 !important; float: none !important; height:12px; vertical-align:middle; display:inline-block; background:url(../images/small_star.png) 0 -12px; cursor:pointer;}
.selectedRating li.active {background-position:0 0;}*/
.colse1 {position: absolute;top: -5px;color: #666666;font-weight: 700;font-size: 17px;cursor: pointer;}

.studentList .fourth  {float: left;padding: 15px;text-align: center;width: 16%;}

.mainHd1{font-size: 18px;font-family: 'roboto_condensed';font-weight: 700;color: #fff;padding-bottom: 20px;
}
.middleHd1{color: #fff;font-size: 18px;line-height: 55px;padding-bottom: 20px;
}
.itaclic{font-style: italic;}
.poperror {padding: 15px;}

.notapproved{
color: #7ab80e;
font-size: 18px;
display: inline-block;
}