{% extends "layout/adminlayout.html" %}
{% load staticfiles %}

{% block title %} Admin | Email  List {% endblock %}


{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Email  List
    </h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'admindashboard' %}"><i class="fa fa-dashboard"></i>Admin</a></li>
      <li class="active"><a href="{% url 'emailtemplatelist' %}">Email  List</a></li>
    </ol>
  </section>
  <section class="content">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="box">
                      <div class="box-body">
                        <div class="row">
                              <div class="col-md-6">
                                <a href="{% url 'adminaddemailtemplate' %}" class="btn btn-primary">Add Email</a>
                              </div>
                          </div>
                      <div id="html">
                           <table id="example2" class="table table-bordered table-hover">
                          <thead>
                          <tr>
                            <th>Sr. No</th>
                            <th>Title</th>
                            <th>subject</th>
                            <th>Content</th>
                            <th>Updated </th>
                            <th>Action</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% if  responselistquery %}
                            {% for email in responselistquery %}
                              <tr id="blog_{{blog.id}}">
                                <td>{{forloop.counter}}</td>
                                <td>{{email.title|linebreaks|truncatechars:30}}</td>
                                <td>{{email.subject|linebreaks|truncatechars:30}}</td>
                                <td>{{email.content|linebreaks|truncatechars:25}}</td>
                                <td>{{email.updated }}</td>
                                <td>
                                <a href="{% url 'editemailtemplate' email.id %}" class="btn btn-primary">Edit</a>
                                </td>
                              </tr>
                            {% endfor %}
                          {%else%}
                          <tr colspan="10" style="text-align: center;"><td colspan="10">No Record Found</td></tr>
                          {% endif %}
                          </tbody>
                        </table>
                      </div>

                    <div class="col-sm-7">
                {% if responselistquery.has_other_pages %}
                    <div class="dataTables_paginate paging_simple_numbers"  style="text-align: right;">
                      <ul class="pagination">
                      {% if responselistquery.has_previous %}
                        <li class="paginate_button previous"><a href="?page={{ responselistquery.previous_page_number }}" class="npLink">Prev</a></li>
                      {% else %}
                        <li class="paginate_button "><a href="javascript:;" class="paginate_button previous disabled npLink">Prev</a></li>
                      {% endif %}
                      {% if responselistquery.number|add:'-4' > 1 %}
                        <li class="paginate_button "><a href="?page={{ responselistquery.number|add:'-5' }}">{{ responselistquery.number|add:'-5' }}</a></li>
                      {% endif %}

                      {% for i in responselistquery.paginator.page_range %}
                          {% if responselistquery.number == i %}
                            <li class="paginate_button "><a href="javascript:;" class="active">{{i}}</a></li>
                          {% elif i > responselistquery.number|add:'-5' and i < responselistquery.number|add:'5' %}
                            <li class="paginate_button "><a href="?page={{ i }}">{{i}}</a></li>
                          {% endif %}
                      {% endfor %}

                      {% if responselistquery.paginator.num_pages > responselistquery.number|add:'4' %}
                       <li class="paginate_button "> <a href="?page={{ responselistquery.number|add:'5' }}">...</a></li>
                      {% endif %}

                      {% if responselistquery.has_next %}
                        <li class="paginate_button next "><a href="?page={{ responselistquery.next_page_number}}" class="active">Next</a></li>
                      {% else %}
                        <li class="paginate_button next disabled"><a href="javascript:;" class="npLink">Next</a></li>
                      {% endif %}
                      </ul>
                    </div>
                {% endif %}
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
  </section>
</div>
{% include "layout/adminmessage.html" %}
{% endblock %}